body {
	color: lightslategray;
}

blockquote {
	background-color: rgba(0, 12, 24, .05);
}

a {
	border: 1px dashed red;
}

em {
	color: darkred;
}

.content {border: 10px;}

.variant-em {
	font-weight: bold;
	font-style: inherit;
	color: black;
	background-color: greenyellow;}


ul {
	background-color: unset;
}

ul li {
	padding: 16px;
}

.link1a {
	color: inherit;
	padding: inherit;
}

.link2a {
	color: initial;
	padding: initial;
}

.link3a {
	color: unset;
	padding: unset;
}
