h1 + p::first-letter {
					float: left;
					color: darkred;
					border: 3px ridge darkgoldenrod;
					padding: 16px;
					background-color: gold;
					margin: 8px; }

blockquote::before { content: open-quote;
					 color:blue;}

blockquote::after { content: close-quote;
					 color:blue;}			

blockquote {
					background-color: rgba(0, 0, 0, .12);
					padding: 8px;}

a {
					color: darkred;
					text-decoration: none;}

a:hover {			
					color: green;}

a:visited {			
					color:red}